//  기본 색상 --------------------------------------------------------- /
$white: #ffffff;
$black: #101010;
$darkbrown: #38302e;
$brown: #988574;
$lightbrown: #c7b39a;
$green: #1dc078;
$yellow: #e8ca58;
$orange: #ff7867;
$blue: #6aaee6;
$gray: #dbdbdb;
$inputgray: #e9ecef;
$darkgray: #b5b5b5;
$silver: #f6f6f6;
