//  기본 색상 --------------------------------------------------------- /
$white: #ffffff;
$black: #101010;
$darkbrown: #38302e;
$brown: #988574;
$lightbrown: #c7b39a;
$green: #1dc078;
$yellow: #e8ca58;
$orange: #fa4c3d;
$silver: #999;

// 리뷰
$inflearn-green: #47c880;
$review-gray: #f9f9f9;
$review-id-gaay: #757570;
$review-time: #979797;
$gray: rgb(156, 156, 156);
$gray000: #ccc;
$gray100: #767676;
$gray200: #757575;
$gray300: rgb(69, 69, 69);
$gray400: rgb(89, 89, 89);
$gray500: #e9ecef;
$gray600: #f6f6f6;
$gray700: #303740;

$bluegray: #9fbfdf;
$blue: rgb(23, 92, 190);
$lightpink: rgb(246, 213, 234);
$transblack: rgba(0, 0, 0, 0.8);
