@use './unit' as *;
@use 'sass:math';

// 고해상도 배경이미지 처리 ---------------------------------------------------- /
@mixin bgRetina($file, $type, $width: 100%, $height: 100%) {
  background-image: url('./../assets/images/' + $file + '.' + $type);
  background-repeat: no-repeat;
  background-size: $width $height;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
    & {
      background-image: url('./../assets/images/' + $file + '@2x.' + #{$type});
      background-size: $width $height;
    }
  }
}

// padding 관련 믹스인
@mixin paddingY($paddingY: 0) {
  padding-top: rem($paddingY);
  padding-bottom: rem($paddingY);
}

@mixin paddingX($paddingX: 0) {
  padding-left: rem($paddingX);
  padding-right: rem($paddingX);
}

// margin 관련 믹스인
@mixin marginY($marginY: 0) {
  margin-top: rem($marginY);
  margin-bottom: rem($marginY);
}

@mixin marginX($marginX: 0) {
  margin-left: rem($marginX);
  margin-right: rem($marginX);
}

@mixin autoMargin() {
  margin-left: auto;
  margin-right: auto;
}

// Position 관련 믹스인
@mixin pos($pos: absolute, $t: initial, $r: initial, $b: initial, $l: initial) {
  position: $pos;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin posCenterX() {
  @include pos($l: 50%);
  transform: translateX(-50%);
}

@mixin posCenterY() {
  @include pos($t: 50%);
  transform: translateY(-50%);
}

@mixin posCenter() {
  @include pos($t: 50%, $l: 50%);
  transform: translate(-50%, -50%);
}

@mixin positionY($top: 50%, $translateY: -50%, $transform: none) {
  position: absolute;
  top: $top;
  left: 0;
  transform: translateY($translateY) $transform;
}

@mixin absolute() {
  position: absolute;
  top: 0;
  left: 0;
}

// Width, Height 관련 믹스인
@mixin wh($w: 100%, $h: auto) {
  width: $w;
  height: $h;
}

// 박스(컨테이너) 크기를 뷰포트 영역으로 확장시키는 믹스인
@mixin boxSizeFull {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  margin-right: initial;
}

// 박스의 최소 및 최대 너비를 설정하기 위한 믹스인
@mixin boxSizeMinMax($min: 768px, $max: 1200px) {
  min-width: $min;
  max-width: $max;
  @include autoMargin;
}

// 반응형 콘텐츠
@mixin respons($width: max-width) {
  #{$width}: 100%;
  height: auto;
}

@mixin responsIframe($w: 16, $h: 9) {
  position: relative;
  padding-top: math.div($h, $w) * 100%;
  height: auto !important;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@mixin textEllipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin multilineEllipsis($clamp: 2, $lh: 1.4) {
  display: -webkit-box;
  -webkit-line-clamp: $clamp;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: $lh;
}
