@use '../utils' as *;

// 리뷰 section
.review {
  @include paddingY(24px);
  margin-bottom: rem(20px);

  @include mobile {
    @include paddingY(16px);
  }

  &__container {
    @include flexbox($justify: space-between);
    @include autoMargin();
    width: auto;
    position: relative;

    @include mobile {
      @include flexbox($direction: column);
      word-break: break-word;
    }
  }

  &__left {
    max-width: rem(480px);
    width: 100%;
    padding-right: rem(16px);
    padding-left: 0;
    @include paddingY(20px);

    @include mobile {
      padding: 0;
      margin-bottom: rem(36px);
    }
  }
  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.33;

    strong {
      color: $inflearn-green;
    }
  }

  &__brief {
    color: $gray;
    font-size: rem(16px);
    margin-top: rem(36px);

    @include mobile {
      margin-top: rem(32px);
      font-size: rem(15px);
    }
  }

  &__button {
    @include flexbox($wrap: wrap, $items: center);
    color: $gray;
    margin-top: 35px;

    @include mobile {
      flex-direction: row;
    }
  }

  &__link {
    border: 1px solid $inflearn-green;
    color: $black;
    border-radius: rem(3px);
    font-size: rem(16px);
    cursor: pointer;
    line-height: 1;
    padding: rem(10px) rem(16px);

    @include mobile {
      font-size: rem(12px);
      flex-grow: 1;
      display: block;
      padding: 0;
      text-align: center;
      line-height: 3.5;
      font-weight: 700;
    }
  }
  &__link:hover {
    background-color: rgba($inflearn-green, 0.2);
  }

  &__link:nth-child(1) {
    margin-right: rem(10px);
  }

  i {
    margin-left: rem(5px);
  }

  &__right {
    height: rem(480px);
    padding: rem(20px);
    position: relative;
    width: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    @include mobile {
      padding: 0;
      margin-bottom: rem(36px);
    }
  }

  &__right::-webkit-scrollbar {
    display: none;
  }

  &__item {
    @include paddingY(16px);
    @include paddingX(16px);
    margin: 5px 5px 20px 5px;
    width: 100%;
    height: auto;
    cursor: grab;
    // flex-shrink: 0;
    position: relative;
    background: $review-gray;
    border: 1px solid $review-gray;
    box-shadow: rgb(0 10 18 / 10%) 0px 2px 3px, rgb(0 10 18 / 10%) 0px 0px 0px 1px;
    border-radius: 4px;
    @include mobile {
      width: auto;
    }
  }

  &__box {
    margin-bottom: rem(15px);
    @include flexbox($items: center);
  }
  &__id {
    color: $gray200;
    margin-right: rem(10px);
    @include mobile {
      font-size: rem(14px);
    }
  }
  &__time {
    color: $review-time;
    font-size: rem(13px);
    @include mobile {
      font-size: rem(13px);
    }
  }
  &__course {
    font-size: rem(17px);
    font-weight: 600;

    @include mobile {
      display: block;
      font-size: rem(15px);
      @include textEllipsis;
    }
  }
  &__content {
    margin-top: rem(15px);
    font-size: rem(16px);
    line-height: 1.3;

    @include mobile {
      font-size: rem(14px);
    }
  }
}

// 공유배너 section
.banner {
  background: url(./../images/share-you.jpg) no-repeat 50% 50%;
  background-size: cover;
  width: 100vw;
  position: relative;
  left: 50%;
  height: auto;
  transform: translateX(-50%);
  @include paddingY(36px);

  @include mobile {
    @include paddingY(16px);
    @include paddingX(15px);
  }

  &__container {
    max-width: rem(1171px);
    height: 100%;
    @include autoMargin;
    position: relative;
  }

  &__title {
    font-size: rem(16px);
    margin-bottom: rem(20px);
    line-height: 1.3;

    @include mobile {
      font-size: rem(14px);
    }
  }

  &__link {
    display: inline-block;
    background: $white;
    color: $inflearn-green;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    margin-top: rem(20px);
    @include paddingX(16px);
    @include paddingY(8px);

    @include mobile {
      font-size: rem(12px);
      @include paddingX(10px);
    }
  }

  &__link:hover {
    background: $inflearn-green;
    color: $white;
  }

  &__content {
    @include flexbox($justify: flex-end, $items: center);
  }

  &__button {
    margin-left: 35%;
  }

  &__button button {
    border-radius: 3px;
    border: 0;
    background: rgba($white, 0.9);
    color: $gray000;
  }
  &__button button:focus {
    color: $gray700;
  }

  &__item {
    border: 0;
    outline: 0;
    width: rem(13px);
    height: rem(13px);
    border-radius: 100%;
    background: rgba($gray600, 0.5);
  }
}

// 기업광고 section
.company {
  padding: 50px 30px;

  &__brief {
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.2px;
    font-size: rem(24px);
    margin-bottom: rem(20px);
    text-align: center;

    @include mobile {
      line-height: 1.47;
      font-size: rem(15px);
      margin-bottom: rem(16px);
    }
  }

  &__logo {
    @include flexbox($justify: center, $wrap: wrap);
  }

  img {
    max-width: 100%;
    height: rem(40px);
    padding-bottom: rem(15px);
    filter: grayscale(1);
    @include paddingX(10px);

    @include mobile {
      height: rem(35px);
    }
  }

  img:hover {
    filter: none;
  }
}

// 신청 section
.apply {
  background: $review-gray;
  width: 100vw;
  position: relative;
  left: 50%;
  height: auto;
  transform: translateX(-50%);
  @include paddingY(48px);

  @include mobile {
    @include paddingX(15px);
  }

  &__container {
    max-width: rem(1171px);
    height: 100%;
    position: relative;
    @include autoMargin;
    p {
      @include applyFont;
    }
  }

  &__content {
    @include flexbox($justify: space-between);
    min-width: 100%;
    width: auto;

    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include pad {
      flex-direction: column;
      padding-right: rem(10px);
    }
  }

  &__item {
    @include flexbox($justify: space-between);
    padding: rem(48px);
    background: $white;
    max-width: rem(380px);
    height: rem(330px);
    width: auto;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border-radius: 4px;
    margin-top: rem(15px);

    @include mobile {
      flex-grow: 1;
      height: rem(290px);
      max-width: 100%;
    }
    @include pad {
      width: 100%;
      flex-grow: 1;
      height: rem(290px);
      max-width: 100%;
    }
  }
  &__title {
    @include flexbox($direction: column, $justify: space-between, $items: start);
  }
  &__title,
  &__brief {
    @include applyFont;
  }

  &__brief {
    @include mobile {
      font-size: rem(15px) !important;
    }
  }

  &__link {
    @include applyBtn;
    @include mobile {
      font-size: rem(13px);
    }
  }

  &__link:hover {
    background-color: $white;
    border: 2px solid $inflearn-green;
    color: $inflearn-green;
  }
}

// footer

.footer {
  background: $footer-bg;
  width: 100%;
  color: $gray600;

  a:hover {
    color: $white;
  }

  @include mobile {
    margin-bottom: rem(66px);
  }

  &__wrap {
    max-width: rem(1171px);
    height: 100%;
    @include autoMargin;
    position: relative;
    @include flexbox($direction: column);
  }

  &__list {
    @include paddingY(48px);
    @include paddingX(20px);
    @include flexbox($justify: space-between);
    border-bottom: 1px solid $gray900;

    @include mobile {
      flex-direction: column;
      padding-bottom: 0;
      padding-top: rem(10px);
      border-bottom: 0;
    }
  }

  &__item {
    color: $gray500;
    font-weight: 700;
    line-height: 2;
    font-size: rem(14px);

    @include mobile {
      @include paddingY(16px);
      border-bottom: 1px solid $gray900;

      i {
        float: right;
        transform: translateY(50%);
      }

      ul {
        max-height: 0px;
        @include flexbox($direction: column);
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;
      }
    }

    a {
      color: $gray800;
      font-weight: 500;
    }
  }

  &__info {
    font-size: rem(12px);
    color: $gray800;
    @include paddingY(48px);
    @include paddingX(20px);

    @include mobile {
      text-align: center;
    }
  }

  &__logo {
    svg {
      width: rem(80px);
      path {
        fill: $inflearn-green;
      }
    }
  }

  &__privacy {
    @include flexbox($items: center);
    font-weight: 700;
    margin-bottom: rem(8px);
    @include mobile {
      justify-content: center;
    }
  }

  &__divider {
    @include mobile {
      margin-left: rem(4px);
    }
  }

  &__divider::before {
    content: '|';
    display: inline-block;
    font-size: rem(12px);
    @include marginX(8px);

    @include mobile {
      display: none;
    }
  }

  &__address {
    line-height: 1.4;
    margin-bottom: rem(15px);

    @include mobile {
      margin-bottom: 0;

      i {
        margin-left: rem(4px);
      }
    }
  }

  &__sns {
    @include flexbox($items: center);
    width: rem(210px);
    float: right;
    transform: translateY(-100%);

    a {
      display: inline-block;
      width: rem(34px);
      height: rem(34px);
      border-radius: 100%;
      background: $gray800;
      text-align: center;
      line-height: rem(34px);
      margin-left: rem(10px);
    }
    i {
      font-size: rem(22px);
      font-weight: 700;
      color: $gray700;
    }
    .fab {
      transform: translateY(17%);
    }
    a:hover {
      background: $white;
    }
  }
}
