@use './../utils' as *;

main {
  @include mobile {
    @include paddingX(16px);
    @include paddingY(16px);
  }
  .main-container {
    max-width: rem(1171px);
    margin: 0 auto;
  }
}

.review{
  @include paddingY(24px);

  @include mobile{
    @include paddingY(16px);
  }

  &__container{
    @include flexbox($justify:space-between);
    @include autoMargin();
    width: auto;
    position: relative;

    @include mobile{
      @include flexbox($direction:column);
      word-break: break-word;
    }
  }

  &__left{
    max-width: rem(480px);
    width: 100%;
    padding-right: rem(16px);
    padding-left:0; 
    @include paddingY(20px);
    

    @include mobile{
      padding: 0;
      margin-bottom: rem(36px);
    }
  }
  &__title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.33;

    strong{
      color:$green;
    }
  }

  &__brief{
    color:$gray;
    font-size: rem(16px);
    margin-top: rem(36px);

    @include mobile{
      margin-top: rem(32px);
      font-size: rem(15px);
    }
  }

  &__button{
    @include flexbox($wrap:wrap,$items:center);
    color:$gray;
    margin-top: 35px;

  }

  &__link{
    border: 1px solid $green;
    color: $black;
    border-radius: 3px;
    font-size: rem(16px);
    cursor: pointer;
    line-height: 1;
    padding:10px 16px;
    @include flexbox($items:center);
    
  }

  &__link:nth-child(1){
    margin-right: rem(10px);
  }

  i{
    margin-left: rem(5px);
  }


  &__right{
    height: rem(480px);
    padding:rem(20px);
    position: relative;
    width: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &__right::-webkit-scrollbar{
    display: none;
  }

  &__item{
    @include paddingY(16px);
    @include paddingX(16px);
    margin: 5px 5px 20px 5px;
    width: 100%;
    height: auto;
    cursor: grab;
    // flex-shrink: 0;
    position: relative;
    background: $review-gray;
    border: 1px solid $review-gray;
    box-shadow: rgb(0 10 18 / 10%) 0px 2px 3px, rgb(0 10 18 / 10%) 0px 0px 0px 1px;
    border-radius: 4px;
    @include mobile{
      width: auto;
    }
  }

  &__box{
    margin-bottom: 10px;
  }
  &__id{
    color: $review-id-gaay;
    margin-right: 5px;
  }
  &__time{
    color:$review-time;
    font-size: rem(13px);
  }
  &__course{
    font-size: rem(17px);
    font-weight: 600;
  }
  &__content{
    margin-top: 8px;
    font-size:rem(16px);
    line-height: 1.3;
  }

}

.banner{
  background: url(./../images/μΈν”„λ°/share-you.jpg) no-repeat 50% 50%;
  background-size: cover;
  width: 100vw;
  position: relative;
  left: 50%;
  height: auto;
  transform: translateX(-50%);
  margin-top: rem(20px);
  @include paddingY(40px);

  @include mobile{
    @include paddingY(16px);
  
  }


  &__list{
    @include flexbox;
  }

  
}

.company{
  padding: 50px 30px;
 
  &__brief{
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -.2px;
    font-size: rem(24px);
    margin-bottom: rem(20px);
    text-align: center;

    @include mobile{
      line-height: 1.47;
      font-size: rem(15px);
      margin-bottom: rem(16px);
    }
  }

  &__logo{
    @include flexbox($justify:center,$wrap:wrap);
  }

  img{
    height: rem(40px);
    padding-bottom: rem(15px);
    filter: grayscale(1);
    @include paddingX(10px);

    @include mobile{
      height: rem(35px);
    }
  }
}

.apply{
  background: $review-gray;
  width: 100vw;
  position: relative;
  left: 50%;
  height: auto;
  margin-left: -50vw;
  @include paddingY(40px);

  &__container{
    max-width: 1200px;
    @include paddingY(0);
    @include paddingX(10px);
  }

  &__title{
    color: $black;
    margin-bottom: rem(4px);
    font-size: rem(15px);

  }
  
}