@use "../utils" as *;

.commercial {
  @include marginX(120px);
  background-image: url("./../images/인프런/슬라이드/슬라이드1-2.png");
}
.search {
  background-color: aqua;
  padding-top: rem(48px);
  padding-bottom: rem(24px);

  &-slogan {
    font-size: rem(20px);
    margin-bottom: 20px;
  }

  &-form {
    &-wrapper {
    }
    &-text {
      max-width: 580px;
      width: 100%;
      position: relative;
    }

    &-input {
      @include paddingY(14px);
      @include paddingX(20px);
      border-radius: 28px;
      width: 100%;
      border: 1px solid rgba(29, 192, 120, 0.24);
    }

    &-button {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 20px;
      border: unset;
      outline: none;
    }
  }
}

.searh-form-wrapper {
  // background-color: red;
  @include flexbox($direction: column, $items: center);
  @include paddingX(10px);
}

.tag-section {
  @include flexbox($direction: column, $items: center);
  padding-bottom: rem(24px);
  &-list {
    // @include flexbox($direction: row)
    max-width: rem(580px);

    &-item {
      height: 28px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @include paddingX(10px);
      border-radius: 20px;
      background-color: #f1f3f5;
      letter-spacing: -0.3px;
      font-size: 12px;
      margin: 4px;
      padding: 0 12px;
      font-weight: 500;
      line-height: 18px;
    }
  }
}
