@use "../utils" as *;

.commercial {
  width: 100%;
  background-color: indigo;
  display: flex;

  &-slogan {
    // position: absolute;
    // top: 10%;
    // left: 10%;

    &__title {
      // position: absolute;
    }
  }

  &-image {
    display: flex;
    width: 55%;
    justify-items: center;
    align-items: center;
    @include desktop {
    }

    &__slide {
      width: rem(300px);
    }
  }
}

.event {
  &-wrapper {
    background-color: white;
    padding-top: 13.5px;
  }
  &-list {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding-bottom: 1.5rem;

    &-item {
      background-color: #ffffff;
      border-radius: 20px;
      box-shadow: #ced4da 0px 0px 0px 1px;
      color: #495057;
      font-size: 14px;
      font-weight: 700;
      line-height: 36px;
      margin: 0px 0px 0px 8px;
      padding: 0px 16px;
      text-align: center;
    }
  }
  // event modal

  &-all {
    position: relative;

    &-container {
      position: absolute;
      @include paddingX(12px);
      @include paddingY(20px);
      top: -2px;
      right: 0;
      width: 857px;
      background-color: khaki;
      z-index: 1;
    }
  }

  &-button {
    outline: none;
    border: unset;
  }

  .commercial-image__slide {
    object-fit: fill;
  }
}
.search {
  background-color: aqua;
  padding-top: rem(48px);
  padding-bottom: rem(24px);

  &-slogan {
    font-size: rem(20px);
    margin-bottom: 20px;
  }

  &-form {
    &-wrapper {
    }
    &-text {
      max-width: 580px;
      width: 100%;
      position: relative;
    }

    &-input {
      @include paddingY(14px);
      @include paddingX(20px);
      border-radius: 28px;
      width: 100%;
      border: 1px solid rgba(29, 192, 120, 0.24);
    }

    &-button {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 20px;
      border: unset;
      outline: none;
    }
  }
}

.searh-form-wrapper {
  // background-color: red;
  @include flexbox($direction: column, $items: center);
  @include paddingX(10px);
}

.tag-section {
  @include flexbox($direction: column, $items: center);
  padding-bottom: rem(24px);
  &-list {
    // @include flexbox($direction: row)
    max-width: rem(580px);

    &-item {
      height: 28px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @include paddingX(10px);
      border-radius: 20px;
      background-color: #f1f3f5;
      letter-spacing: -0.3px;
      font-size: 12px;
      margin: 4px;
      padding: 0 12px;
      font-weight: 500;
      line-height: 18px;
    }
  }
}
